// work/stf/res/app/control-panes/dashboard/dashboard.pug
div(ng-controller='DashboardCtrl')
  #toast
    #network_icon
      i.fas.fa-exclamation-triangle
    #desc Your network is causing poor Interact experience. Try switching network
 .row
   .col-md-6
     div(ng-include='"control-panes/dashboard/navigation/navigation.pug"')
   .col-md-6(ng-if='!iPhonePresent')
     div(ng-include='"control-panes/advanced/remote-debug/remote-debug.pug"')
 .row
   .col-md-6
     div(ng-include='"control-panes/dashboard/install/install.pug"')
 .row
   .col-md-6(ng-if='!iPhonePresent')
     div(ng-include='"control-panes/dashboard/apps/apps.pug"')

