// work/stf/res/app/views/index.pug
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous', referrerpolicy='no-referrer')

    script(type="module").
        import isFastNet from 'https://cdn.jsdelivr.net/npm/isfastnet@2.0.0'
        setInterval(() => isFastNet((value) => {
        let speed = value ? 'fast':'slow';
        console.log('Internet is ' + speed);
        var comp = document.querySelector("#toast");
        if(speed=="fast"){
          comp.className=""
        }
        else{
          comp.className="showtoast"
    
        }
        }), 5000)