/* toast css */
/* work/stf/res/app/menu*/

#toast {
  display:flex;
height:70px;
width:60px;
align-items: center;
  visibility: hidden;
  background-color: rgb(245,232,211);
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  right:30px;
  bottom: 30px;
  font-size: 15px;
  opacity:0.95;
  border-left:5px solid rgb(231,183,115);
  overflow: hidden;

}
#network_icon{
 
  padding:10px;
  display:flex;
  color: rgb(231,183,115);
  font-size: 20px;
}
#desc{
  padding:10px;
  color: rgb(39, 39, 39);
  font-weight: bold;
  
}

#toast.showtoast {
  visibility: visible;
-webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 300000s 1s ;
animation: fadein 0.5s, expand 0.5s 0.5s,stay 300000s 1s ;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}